version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.local
    container_name: printscript-service
    ports:
      - "8084:8080"  # Changed to avoid port conflict with snippet-service
    networks:
      - shared_network

networks:
  shared_network:
    external: true