name: Build & Test

on:
  pull_request:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  build:
    name: build
    uses: IngSisG10/snippet-infrastructure/.github/workflows/build.yml@main
    permissions:
      contents: read
      pull-requests: write
    secrets: inherit
