name: Coverage (Kover)

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  coverage:
    name: coverage kover
    uses: IngSisG10/snippet-infrastructure/.github/workflows/coverage.yml@main
    secrets: inherit