name: new-version-workflow

on:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  publish-package:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_packages.yml@main
    secrets: inherit

  publish-img:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_docker_img_to_ghcr.yml@main
    secrets: inherit

  start-vm:
    needs: publish-img
    uses: IngSisG10/printscript-service/.github/workflows/azure_start_vm.yml
    secrets: inherit

  deploy-azure:
    needs: start-vm
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_deploy_img.yml@main
    secrets: inherit

  shut-down-vm:
    needs: publish-package
    uses: IngSisG10/printscript-service/.github/workflows/azure_sto_vm.yml
    secrets: inherit