name: new-version-workflow

on:
  workflow_call: {}

jobs:
  publish-package:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_packages.yml@main
    secrets: inherit

  publish-img:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_docker_img_to_ghcr.yml@main
    secrets: inherit

  deploy-azure:
    needs: publish-img
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_deploy_img.yml@main
    secrets: inherit