name: New version workflow

on:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  publish-package:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_packages.yml@main
    secrets: inherit

  publish-img:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_docker_img_to_ghcr.yml@main
    secrets: inherit

  start-vm:
    needs: publish-img
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_start_vm.yml@main
    secrets: inherit

  deploy-azure:
    needs: start-vm
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_deploy_img.yml@main
    secrets: inherit

  shut-down-vm:
    needs:
      - start-vm
      - deploy-azure
    if: ${{ needs.start-vm.outputs.pre_status == 'VM deallocated' }}
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_stop_vm.yml@main
    secrets: inherit